@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  background-color: #F0F7FF !important;

}



a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;


}

.brand-font{
	font-family: 'Caveat', cursive !important;
	font-size: 24px !important;
}



.container-body {
	background-color: #F0F7FF  !important;
}
.navbar {
	background-color: #3B4F8F !important;
	  
}

.banner-section {
	margin-top: 110px;
	width: 100%;
	height: 70vh;

}
.feature-section {
	margin-top: 110px;
	width: 100%;
	height: 100vh;
	background-color: #F0FEFF;
	padding: 80px 80px 80px 80px !important;
	text-align: center;

}

.banner-section h1{
	font-weight: bold;
	
	letter-spacing: 2px;
	color: #1e1f26;
}

.banner-col-2 {
	background-image: url('../images/graph.png');
	background-repeat: no-repeat;
	display: flex;
	margin-top: -60px;
	background-size: 500px 300px;
}

.login{	
	margin-top: 50px;
	margin-bottom: 50px;
  	justify-content: center;

}

.login-col{

	background-color: #fff;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}

.login-form{
	margin: 50px 20px 50px 20px;


}
.navlink-border {
	border-style: solid;
	border-radius: 5px;
	border-color: #c2d4e4;
	padding-left: 20px;
	padding-right: 20px;
}

.btn{
	background-color: #516091 !important;
	border-color: #516091 !important;
}

.card{
	margin: 3%;
	color:#1F1F1F;
	box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.5s;
	will-change: transform;
	border: 15px solid white;
}


.card-header{
	background-color: #59BCC0 !important;
	color: #fff;
	height: 12vh;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}
.cat-button{
	text-align: right;
	padding-right: 0px !important;
}

.cat-title{
	padding-left: 0px !important;
}

.styled-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


}

.styled-table thead tr {
    background-color: #5289B5;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody{
	background-color: #fff;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #5289B5;
}

.icon-style{
	margin-top: -2px;
}

.searchCard {
	box-shadow: none !important;
	margin: 30px 0px 10px 0px !important;
	border-left-width: thick !important;
}

.banner-btn{
	color: #fff !important;
	text-decoration: none !important;
}

.google-btn{
	width: 100% !important;
	
}

.google-btn span{
		display: block !important;
		text-align: center !important;
		justify-content: center !important;
		width: 100% !important;

}
hr {
    border: none;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -15px;
}

.chartbox{
	padding: 20px 20px 20px 20px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: #fff;
}
.feature-box{
	text-align: center;
	padding: 20px 30px 20px 30px;
}
.feature-icon {
	color: #3B4F8F;
}